{
	"stringsFloderPath": "\\app\\src\\main\\res\\",
	"compareLanFolder": "values",
	"placeHolderWhiteList": ["battery_running_title1", "permission_desc_accessibility", "permission_desc_selfstart", "deep_clean_des_dialog", "game_permission_desc_accessibility", "msg_memory_tip", "msg_battery_tip"],
	"surplusWhiteList": [],
	"lackWhiteList": ["app_name", "whatsapp", "line", "wechat", "qq", "private_noti_msg_count", "like_us_on_facebook", "default_notification_channel_id"],
	"stringsFolderMap": {
		"values": "英语",
		"values-ar": "阿拉伯语",
		"values-de-rDE": "德语",
		"values-es": "西班牙语",
		"values-in-rID": "印尼语",
		"values-ko-rKR": "韩语",
		"values-pt": "葡萄牙语",
		"values-ru-rRU": "俄语",
		"values-th-rTH": "泰语",
		"values-vi-rVN": "越南语",
		"values-zh-rCN": "中文",
		"values-zh-rTW": "繁体中文"
	}
}